services:
  postgres:
    image: postgres:17
    container_name: postgres_container
    environment:
      POSTGRES_DB: driver_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - driver_network

  driver-service:
    build: .
    container_name: driver_service_container
    depends_on:
      - postgres
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    ports:
      - "8082:8082"
    networks:
      - driver_network

networks:
  driver_network:
    driver: bridge

volumes:
  postgres_data:
